<table>
    <tr>
        <td>
            <p>Andres Pitol Garcia</p>
            <p>Ser SNI 3, y tener cuadritos</p>

        </td>
        <td>
            <img src="C:/Users/andpi/Documents/AndresPitolCV.jpg" width="100" height="100">
        </td>
        <td>
            <ul>
                <li>andrespitol855gmail.com</li>
                <li>2831380224</li>
                <li>Villa Isla, Veracruz</li>
                <li>AndresPitol</li>
            </ul>
        </td>
        
    </tr>
</table>
