<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Currículum Vitae</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Andres Pitol Garcia</h1>
        <h2>Database Developer</h2>
    </header>
    <section id="about">
        <h2>Acerca de mí</h2>
        <p>Soy un recien egresado de la Universidad veracruzana en el curso de "Ingenieria en software"
        especializado en el desarrollo de bases de datos</p>
    </section>
    <section id="education">
        <h2>Educación</h2>
        <ul>
            <li>Educacion superior en Ingenieria de software</li>
            <li>Cursos de CSS, JavaScript y MongoDB</li>
        </ul>
    </section>
    <section id="experience">
        <h2>Experiencia Laboral</h2>
        <ul>
            <li>Trabajador como proyect manager jr. en proyectos de desarrollo de software escolar con 6 meses de experiencia</li>
            <li>Encargado de la gestion en empresas agriculturas como "Empresa Piñera Pitol" y "ORPI"</li>
        </ul>
    </section>
    <section id="skills">
        <h2>Habilidades</h2>
        <ul>
            <li>Puedo solucionar problemas facilmente de manera rapida</li>
            <li>Gran orador con habilidades de liderazgo</li>
        </ul>
    </section>
</body>
</html>
